.beneficios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0px;
    background: radial-gradient(circle at 100% 100%,#000 0,#000 7.4px,transparent 0) 0 0/12.4px 12.4px no-repeat,radial-gradient(circle at 0 100%,#000 0,#000 7.4px,transparent 0) 100% 0/12.4px 12.4px no-repeat,radial-gradient(circle at 100% 0,#000 0,#000 7.4px,transparent 0) 0 100%/12.4px 12.4px no-repeat,radial-gradient(circle at 0 0,#000 0,#000 7.4px,transparent 0) 100% 100%/12.4px 12.4px no-repeat,linear-gradient(#000,#000) 50% 50%/calc(100% - 10px) calc(100% - 24.8px) no-repeat,linear-gradient(#000,#000) 50% 50%/calc(100% - 24.8px) calc(100% - 10px) no-repeat,linear-gradient(54deg,#b00d6e,#ac0e6f 50%,#084791 98%);
    border-radius: 12px;
    color: #ffffff;
    padding: 15px 15px 15px 45px;
}

.beneficios-descricao-titulo {
    font-size: 24px;
    margin: 24px 0px 12px;
}

.beneficios-descricao-lista {
    list-style: none;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
}

.beneficios-descricao-item::before {
    content: "✓";
    margin-right: 12px;
}
