.planos-card {
  display: flex;
  height: 500px;
  justify-content: flex-start;
  margin-top: 25px;
  gap: 15px;
}

.card {
  padding: 16px;
  width: max-content;
  height: max-content;
  border: 6px solid #ffd2d7;
  border-radius: 10px;
  display: grid;
  grid-template-areas:
    "pr pr pr"
    "ch ch ch"
    "cf cf cf"
    "cl cl cl"
    "cb cb cb";

  grid-template-rows: 30px 30px 20px 40px 1fr;
}

.card-promotion {
  grid-area: pr;
  padding: 4px 8px;
  color: #000000;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  margin: 0px 4px 10px 0px;
  align-items: center;
  text-transform: uppercase;
  display: flex;
  margin-right: 16px;
}

.individual {
  background-color: #ffd2d7;
}

/*Card Header*/

.card-header {
  grid-area: ch;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tipo {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}

.valor {
  font-size: 24px;
  font-weight: 500;
}

/*Card Footer */

.card-footer {
  grid: cf;
  font-size: 12px;
  margin-left: 200px;
}

/* Card list */

.card-list {
  grid-area: cl;
  padding: 5px 16px 16px;
  line-height: 22px;
  font-size: 14px;
}

.card-lis-item::before {
  content: "•";
  display: block;
  color: #fff;
}

/*Card button */

.card-button {
  grid-area: cb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 14px 32px;
  border-radius: 500px;
  background: #fff;
  color: #000000;
  font-weight: 700;
  font-size: 14px;
}

.card-button:hover {
  cursor: pointer;
  transform: scale(1.04);
  transition: all;
}

.individual {
  background-color: #ffd2d7;
}
