.planos-card {
    display: flex;
    height: 500px;
    justify-content: flex-start;
    margin-top: 25px;
    gap: 15px;
}

.card {
    padding: 16px;
    width: max-content;
    height: max-content;
    border: 6px solid #ffd2d7;
    border-radius: 10px;
    display: grid;
    grid-template-areas: 
        "pr pr pr"
        "ch ch ch"
    ;

    grid-template-rows: 30px;
}

.card-promotion {
    grid-area: pr;
    padding: 4px 8px;
    color: #000000;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    margin: 0px 4px 10px 0px;
    align-items: center;
    text-transform: uppercase;
    display: flex;
    margin-right: 16px;
}

.individual {
    background: #ffd2d7;

}

.card-header {
    grid-area: ch;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tipo{
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
}

.valor {
    font-size: 24px;
    font-weight: 500;
}