header {
  display: flex;
  justify-content: space-around;
  background-color: #000000;
  padding: 0 15px;
  color: #ffffff;
}

header a{
  color: #121212;
  clip: rect(1px, 1px, 1px, 1px);
  display: block;
  font-weight: 700;
  height: 1px;
  overflow: hidden;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  width: 1px;
  z-index: 1;
}

#logo {
  margin-top: 20px;
  width: 132px;
  height: 42px;
}

.header-list {
  display: flex;
  list-style: none;
  font-size: 16px;
  font-weight: 700;
}

.header-item {
  padding: 28px 17px;
}

.header-item:hover {
  color: #1ed760;
  cursor: pointer;
}
