.planos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #000000;
    color: #ffffff;
    margin: 0 241px;
    padding: 75px 15px;
}

.planos-header {
    margin: 0px 49px;
}

.planos-header-titulo{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -1.28px;
    line-height: 1;
}

.planos-header-texto {
    font-size: 16px;
    font-weight: bold;
    margin: 16px 0px;
    text-align: center;
}

.planos-pagamentos-lista{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.planos-pagamentos-lista-item {
    display: flex;
    margin-right: 7px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

.planos-logo {
    width: 29px;
    height: 20px;
}

.planos-pagamentos-lista p{
    font-weight: bold;
}