.sectionOne {
  background-color: #f037a5;
  text-align: left;
  padding-top: 72px;
  padding-bottom: 40px;
}

.sectionOne-conteudo {
  display: flex;
  flex-direction: column;
  margin: 0 49px;
  padding-left: 165px;
  justify-content: center;
}

.sectionOne-title h1 {
  font-size: 40px;
}

.sectionOne-text h2 {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 500;
}

.sectionOne-button {
  display: flex;
  justify-content: flex-start;
  margin-top: 35px;
  align-items: center;
}

.sectionOne-button-element{
  background: #000000;
  padding: 14px 32px;
  border-radius: 500px;
  text-transform: uppercase;
  font-weight: bold;
}

.sectionOne-button-element:hover {
  cursor: pointer;
  transform: scale(1.04);
  transition: all;
}


.button1 {
  margin-right: 8px;
 
}


.button2{
  border: 2px solid white;
  background-color: transparent;
  color: #000000;
}

.sectionOne-footer {
  margin-top: 40px;
  font-size: 12px;
  font-weight: bold;
}
