.sectionTwo {
    background-color: #ffffff;
}

.sectionTwo-conteudo {
    display: flex;
    color: #000000;
    background: #ffffff;
    align-items: center;
    margin: 0  174px;
    padding: 75px 15px;
    flex-direction: column;
    margin-bottom: 20px;
}

.sectionTwo-header {
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 72px;
}

.sectionTwo-list ul{
    display: flex;
    list-style: none;
    text-align: center;
}

.sectionTwo-img  img{
    width: 142px;
    height: 142px;
    margin: 0px 71px;
    margin-bottom: 40px;
}

.sectionTwo-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 1.3em;
}

.sectionTwo-subtitle {
    line-height: 1.5;
    font-size: 16px;
    padding: 0;
    font-weight: 400;
    margin: 0 21px;
}