* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 400;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: black;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.header-logo {
    margin: 20px;
    width: 132px;
    margin-top: 20px;
    margin-left: 20px;
}

.navigation-list{
    display: flex;
    list-style: none;
}

.navigation-list-link {
    padding: 28px 17px;
    cursor: pointer;
 
}

.navigation-list-link:hover {
    color: #1ed760;
}

section {
background-color: rgb(240, 55, 165);
padding-top: 48px;
padding-bottom: 24px;
}

.banner {
    display: flex;
    flex-direction: column;
    color: white;
    background: rgb(240, 55, 165);
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 89px;
    width: 100%;
}

.banner h1 {
    display: block;
    font-weight: 900;
    font-size: 40px;
}

.banner h2 {
    margin-top: 30px;
    font-size: 24px;
    width: auto;
    font-weight: 400;
}

.button {
    margin: 35px 0 0;
    font-weight: 700;
    
}

.btn1 {
    margin-right: 8px;
    background-color: black;
    padding-block: 14px;
    padding-inline: 32px;
    border: 2px solid rgb(25, 20, 20);
    border-radius: 500px;
    text-transform: uppercase;
}

.btn1:hover {
    padding-block: 16px;
    padding-inline: 38px;
    font-size: 16px;
    transition: 0.1s;
}

.btn2 {
   border: 2px solid rgb(255, 255, 255);
   padding-block: 14px;
   padding-inline: 32px;
   border-radius: 500px;
   text-transform: uppercase;
}

.banner-footer {
    font-size: 12px;
    margin-top: 40px;
}
